<div>
  Name: {{starship?.name}}<br />
  model: {{starship?.model}}<br />
  manufacturer: {{starship?.manufacturer}}<br />
  cost_in_credits: {{starship?.cost_in_credits}}<br />
  length: {{starship?.length}}<br />
  max_atmosphering_speed: {{starship?.max_atmosphering_speed}}<br />
  crew: {{starship?.crew}}<br />
  passengers: {{starship?.passengers}}<br />
  cargo_capacity: {{starship?.cargo_capacity}}<br />
  consumables: {{starship?.consumables}}<br />
  hyperdrive_rating: {{starship?.hyperdrive_rating}}<br />
  MGLT: {{starship?.MGLT}}<br />
  starship_class: {{starship?.starship_class}}<br />


  <div *ngIf="pilots.length > 0">
  Pilots:<br />
  <item [url]="pilot.url" [type]="pilot.type" [havelink]="pilot.havelink" [endpoint]="pilot.endpoint" *ngFor="let pilot of pilots" ></item>
  <br />  	
  </div>


  <div *ngIf="films.length > 0">
  Films:<br />
  <item [url]="film.url" [type]="film.type" [havelink]="film.havelink" [endpoint]="film.endpoint" *ngFor="let film of films" ></item>
  <br />  	
  </div>


  created: {{starship?.created}}<br />
  edited: {{starship?.edited}}<br />
  url: {{starship?.url}}<br />
<br /><br /><br /><br />

</div>

