<div>
  Name: {{item?.name}}<br />
  model: {{item?.model}}<br />
  manufacturer: {{item?.manufacturer}}<br />
  cost_in_credits: {{item?.cost_in_credits}}<br />
  length: {{item?.length}}<br />
  max_atmosphering_speed: {{item?.max_atmosphering_speed}}<br />
  crew: {{item?.crew}}<br />
  passengers: {{item?.passengers}}<br />
  cargo_capacity: {{item?.cargo_capacity}}<br />
  consumables: {{item?.consumables}}<br />
  hyperdrive_rating: {{item?.hyperdrive_rating}}<br />
  MGLT: {{item?.MGLT}}<br />
  starship_class: {{item?.starship_class}}<br />


  <div *ngIf="pilots.length > 0">
  Pilots:<br />
  <!--<item [show]="item.ident" [url]="item.url" *ngFor="let item of pilots" ></item>-->
  <item [url]="pilot.url" [type]="pilot.type" [havelink]="pilot.havelink" [endpoint]="pilot.endpoint" *ngFor="let pilot of pilots" ></item>
  <br />  	
  </div>
<!--  
"pilots": [],
"films": [
"https://swapi.co/api/films/1/"
],
-->
  created: {{item?.created}}<br />
  edited: {{item?.edited}}<br />
  url: {{item?.url}}<br />
<br /><br /><br /><br />

</div>

