<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Films</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Films</h3>


  <ion-list>
    <films [version]="version" [item]="film" *ngFor="let film of globalP.films" ></films>
  </ion-list>

  <ion-infinite-scroll *ngIf="globalP.quedanPages" (ionInfinite)="$event.waitFor(doInfinite())">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>