<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Starships</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Starships</h3>
  
  <ion-list>
    <starships [version]="version" [item]="starship" *ngFor="let starship of globalP.starships" ></starships>
  </ion-list>

  <ion-infinite-scroll *ngIf="globalP.quedanPages" (ionInfinite)="$event.waitFor(doInfinite())">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
  