<ion-row *ngIf="item.havelink;else not_have_link">


	<ion-col *ngIf="mode!='modal'" col-2><p >{{item?.text}}</p></ion-col>
	<ion-col *ngIf="mode=='modal'"><p >{{item?.text}}</p></ion-col>

	<ion-col *ngIf="mode!='modal'" col-10>
		<button ion-button color="primary" (click)='openPage(item.type,item.ident);'>View</button>
		<button *ngIf="item.type=='characters' && show" ion-button color="primary" (click)="abrirmodal(character.url)">View</button>
	</ion-col>
	<ion-col *ngIf="mode=='modal'" >
		<button ion-button color="primary" (click)='openPage(item.type,item.ident);'>View</button>
		<button *ngIf="item.type=='characters' && show" ion-button color="primary" (click)="abrirmodal(character.url)">View</button>
	</ion-col>


</ion-row>

<ng-template #not_have_link>
	<ion-row>
		<ion-col *ngIf="mode!='modal'" col-2><p>{{item?.text}}</ion-col>
		<ion-col *ngIf="mode=='modal'"><p>{{item?.text}}</ion-col>

		<ion-col *ngIf="mode!='modal'" col-10>
			<button *ngIf="item.type=='characters' && show" ion-button color="primary" (click)="abrirmodal(character.url)">View</button>
		</ion-col>
		<ion-col *ngIf="mode=='modal'">
			<button *ngIf="item.type=='characters' && show" ion-button color="primary" (click)="abrirmodal(character.url)">View</button>
		</ion-col>
	</ion-row>	
</ng-template>
